@import 'elements/button.css';
@import "elements/checkbox.css";
@import "elements/radio.css";
@import "elements/switch.css";
@import "elements/text-input.css";
@import "typography.css";
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Segoe UI, Arial, sans-serif;
  background-color: var(--body-bg);
  color: var(--text);
  transition: all 0.2s ease-out;
}

form, .news {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--form-bg);
  transition: background-color 0.2s ease-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.construction {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-caution);
  color: #ffffff;
  transition: background-color 0.2s ease-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



#text-output{
  width: 400px;
  margin: auto;
  text-align: center;
}