:root{
    --primary-color: #0078d4;
    --text: #000000;
    --body-bg: #f0f0f0;
    --form-bg: #ffffff;

    --color-success: #0f7b0f;
    --color-success-bg: #dff6dd;
    --color-caution: #9d5d00;
    --color-caution-bg: #fff4ce;
    --color-critical: #c42b1c;
    --color-critical-bg: #fde7e9;
    --color-attention: #0078d4;
    --color-attention-bg: #f9f9f9;
    --color-neutral: #8a8a8a;
}

input[type="submit"]:hover {
    background-color: #005a9e;
}

input[type="submit"]:active {
    background-color: #004578;
}