/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--element-border);
  border-radius: 10px;
}
