.card 
    background:  linear-gradient(105deg, rgba(255, 255, 255, 0.10) 0%, rgba(196.76, 196.76, 196.76, 0.04) 100%) !important
    height: 100% !important

.image-card
    img
        border-radius: 0.8rem

.icon-card
    max-height: 60px
    .card-body
        padding-top: 0.75rem
        padding-bottom: 0.75rem
    img
        height: 30px
        width: 30px
    p
        margin-bottom: 0
        line-height: 30px
        padding-left: 0.6rem

$card-spacer-y: 1.4rem
$card-spacer-x: 1.4rem
