

$primary: #00D8FF
$secondary: #9815FF
$info: #4111FF
$dark: #171717

$body-bg: $dark

$body-color: white

@import ./fonts.sass
@import ./navbar.sass
@import ./card.sass
@import ./button.sass

@import 'bootstrap/scss/bootstrap.scss'
