

$primary: #00D8FF
$secondary: #9815FF
$info: #4111FF
$dark: #171717

$body-bg: $dark

$body-color: white

.circlular-blur
    display: block
    background: #108C89
    border-radius: 100%
    width: 100%
    height: 100%
    filter: blur(660px)
    -webkit-filter: blur(660px)
    position: absolute

@import ./fonts.sass
@import ./navbar.sass
@import ./card.sass
@import ./button.sass

@import 'bootstrap/scss/bootstrap.scss'
