nav{
    height: 100px;
    background: linear-gradient(to left, rgba(152, 21, 255, 0.1), rgba(35, 201, 238, 0.1));
    margin-top: 40px;
}

.navbar-brand{
    font-weight: 900;
    text-transform: uppercase;
}

.nav-link{
    font-weight: 500;
}

.navbar-nav{
    margin-right: -1rem;
}