.ReactWeb .card.card-skill {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ReactWeb .card.card-logo img {
  max-width: 100%;
  border-radius: 5px;
  aspect-ratio: 1;
  border-radius: 5px;
}

.ReactWeb .card.card-logo {
  margin-bottom: 15px;
}
