:root {
  --primary-color: #4cc2ff;
  --primary-color-alt: #47b1e8;
  --text: #ffffff;
  --text-alt: #000000;
  --hypertext-hover-bg: #2d2d2d;
  --text-disabled: #717171;

  --body-bg: #001b28;

  --main-layout-bg: #202020;
  --content-bg: #282828;
  --card-bg: #333333;

  --btn-text-active: #3b00008c; /* 66% transparency */

  --element-border: #cccccc;
  --element-bg: #00000017; /* 2% transparency */
  --element-bg-hover: #ffffff0a; /* 6% transparency */
  --element-disabled-bg: #cccccc;

  --sidebar-item-bg: #2d2d2d;

  --text-input-bg: #2d2d2d;
  --text-input-bg-hover: #323232;
  --text-input-placeholder: #cfcfcf;
  --text-input-bg-focus: transparent;
  --text-input-border-bot: #a8a8a8;

  --dropdown-toggle-text-hover: #1a1a1a;
  --dropdown-toggle-border: #303030;
  --dropdown-menu-bg: #303030;
  --dropdown-menu-bg-hover: #3b3b3b;

  --color-success: #0f7b0f;
  --color-success-bg: #dff6dd;
  --color-caution: #9d5d00;
  --color-caution-bg: #fff4ce;
  --color-critical: #c42b1c;
  --color-critical-bg: #fde7e9;
  --color-attention: #0078d4;
  --color-attention-bg: #f9f9f9;
  --color-neutral: #8a8a8a;
}
