body{
    /* background-image: url("../public/light.jpg"); */
    background-repeat: no-repeat, repeat;
    background-position: center; /* Center the image */
    background-position-y: top;
    background-size: contain; /* Resize the background image to cover the entire container */
    background-color: #bccee2 !important;
}

.main-layut{
    display: flex;
}
.content{
    margin-left: 30px;
    flex: 1;
}