@import "./typography.css";
@import "./layout.css";
@import "./elements/button.css";

form {
  margin-top: 0;
}

.construction {
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-caution);
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#text-output {
  width: 400px;
  margin: auto;
  text-align: center;
}
