@import './elements/button.css';
@import "./elements/checkbox.css";
@import "./elements/dropdown.css";
@import "./elements/navbar.css";
@import "./elements/rating.css";
@import "./elements/radio.css";
@import "./elements/slider.css";
@import "./elements/switch.css";
@import "./elements/text-input.css";
@import "./typography.css";
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:not(.jscolor){
  transition: all 0.2s ease-out;
}

body {
  font-family: Segoe UI, Arial, sans-serif;
  background-color: var(--body-bg);
  color: var(--text);
  margin: 0 calc(50vw - 600px);
}

  .xl{display: block;}
  .md{display: none;}
  .sm{display: none;}
@media screen and (max-width: 1440px) {
  body {
    margin: 0 20%;
  }
  .xl{display: none;}
  .md{display: block;}
  .sm{display: none;}
}
@media screen and (max-width: 960px) {
  body {
    margin: 0 10%;
  }
  .xl{display: none;}
  .md{display: none;}
  .sm{display: block;}
}

form, .news {
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--form-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.construction {
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-caution);
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



#text-output{
  width: 400px;
  margin: auto;
  text-align: center;
}