* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:not(.jscolor) {
  transition: all 0.2s ease-out;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Segoe UI, Arial, sans-serif;
  color: var(--text);
  display: flex;
  justify-content: center;
  background-repeat: no-repeat, repeat;
  background-position: center; /* Center the image */
  background-position-y: top;
  background-size: contain; /* Resize the background image to cover the entire container */
  background-color: var(--body-bg);
  /* background-image: url("../public/light.jpg"); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-layout {
  display: flex;
  border-radius: 10px;
  background-color: var(--main-layout-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: calc(100vh - 60px);
}

.content {
  flex: 1;
  margin-top: 30px;
  background-color: var(--content-bg);
  padding: 30px;
  border-radius: 10px 0 0 0;
  overflow-y: scroll;
}

.content > h1 {
  margin-bottom: -17px;
  margin-top: -5px;
}

.App {
  margin: 30px auto;
}

@media (max-width: 767px) {
  .main-layout {
    border-radius: 0;
    height: 100vh;
  }
  .App {
    margin: 0;
    max-width: 100vw;
  }
}
@media (min-width: 768px) {
  .App {
    width: 750px;
  }
  #root {
    min-width: 100%;
  }
}
@media (min-width: 992px) {
  .App {
    width: 970px;
  }
  #root {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .App {
    width: 1170px;
  }
}

@media (max-width: 992px) {
  .main-layout {
    border-radius: 0;
    height: 100vh;
  }
  .App {
    margin: 0;
    width: 100%;
  }
  .content {
    padding: 10px;
    overflow-x: hidden;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--element-border);
  border-radius: 10px;
}
