/* Caption */
p.caption {
  font-size: 12px;
  font-weight: normal;
}

/* Body */
p,
button,
li,
a {
  font-size: 14px;
  font-weight: normal;
}

a {
  color: var(--primary-color);
  padding: 4px 10px;
  text-decoration: none;
}

a.disabled {
  color: var(--text-disabled);
  cursor: default;
}
a:hover {
  background-color: var(--hypertext-hover-bg);
  border-radius: 5px;
}
a.disabled:hover {
  background-color: transparent;
}

/* Body Strong */
p strong {
  font-size: 14px;
  font-weight: 600;
}

/* Display */
h1 {
  font-size: 26px;
  font-weight: 600;
}

.text-input {
  font-size: 16px;
}
