.dropdown,
.dropdown2 {
  margin-right: 4px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.dropdown-toggle {
  background-color: var(--text-input-bg);
  border: 1px solid var(--dropdown-toggle-border);
  color: var(--text);
  padding: 4px 10px;
  border-radius: 5px;
}

.dropdown-toggle:hover {
  background-color: var(--text-input-bg-hover);
}

.dropdown-toggle::after {
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-bottom: 1px solid var(--text);
  border-right: 1px solid var(--text);
  transform: rotate(45deg) translateY(-50%);
  margin-left: 4px;
  position: relative;
  top: -1px;
  margin-right: 4px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  min-width: 100px;
  margin: 4px 0 0;
  background-color: var(--dropdown-menu-bg);
  border: 1px solid var(--dropdown-toggle-border);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown2 .dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-menu li {
  list-style: none;
  margin: 4px;
}

.dropdown-menu li a {
  display: block;
  padding: 4px 10px;
  color: var(--text);
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: var(--dropdown-menu-bg-hover);
  border-radius: 5px;
}

.show {
  display: block;
}
