.card {
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--card-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-66 {
  width: calc(2 / 3);
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

.card-holder .card {
  width: auto;
  flex: 1;
}

.card-holder .card {
  margin: 15px;
}

.card-holder {
  display: flex;
  margin: auto -15px;
  flex-wrap: wrap;
}
.card-link-holder {
  flex: 4 !important;
}

.card.card-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card.card-logo img {
  max-width: 100%;
  border-radius: 5px;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .card-holder .card {
    margin: 7.5px;
  }
  .card-holder {
    margin: auto -7.5px;
  }
}
