.card {
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--card-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-66 {
  width: calc(2 / 3);
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

.card-holder .card {
  width: auto;
  flex: 1;
}

.card-holder .card {
  margin: 15px;
}

.card-holder {
  display: flex;
  margin: auto -15px;
  margin-bottom: -15px;
  margin-top: 15px;
  flex-wrap: wrap;
}
