.switch-container .switch-label {
  display: inline-block;
  margin-right: 10px;
  color: var(--text);
  line-height: 28px;
}
.switch-container .switch {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0px;
}
.switch-container .switch input {
  display: none;
}
.switch-container .slider {
  position: relative;
  width: 40px;
  height: 20px;
  margin: 0 10px;
  background-color: var(--element-bg);
  border-radius: 34px;
  border-color: var(--element-border);
  border-width: 1px;
  border-style: solid;
  transition: all 0.2s ease-out;
}
.switch-container .slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  top: 2px;
  left: 2px;
  background-color: var(--element-disabled-bg);
  border-radius: 50%;
  transition: all 0.2s ease-out;
}
.switch-container .slider.round {
  border-radius: 50px;
}
.switch-container input:checked + .slider {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.switch-container input:checked + .slider::before {
  transform: translateX(20px);
  transition-delay: 0.1s;
  background-color: var(--text-alt);
}
.switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.switch-container:hover .slider.round {
  background-color: var(--element-bg-hover);
}
.switch-container:hover input:checked + .slider.round {
  background-color: var(--primary-color-alt);
}
